################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.github
/.vs/ArtistRegistry/FileContentIndex
/.vs
